<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<!-- property中的app.name 的 value要根据实际项目调整 -->
	<property name="app.name" value="app" />

	<!-- 应用日志配置 -->
	<appender name="info" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<!-- 应用日志级别 -->
			<level>INFO</level>
		</filter>
		<encoding>UTF-8</encoding>
		<!-- 应用日志文件 -->
		<file>/var/logs/tomcat/${app.name}.log</file>
		<!-- <file>d:/logs/tomcat/${app.name}.log</file> -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- 打包文件 -->
			<fileNamePattern>/var/logs/tomcat/${app.name}.%d{yyyy-MM-dd_HH}.log.gz</fileNamePattern>
			<!-- <fileNamePattern>d:/logs/tomcat/${app.name}.%d{yyyy-MM-dd_HH}.log.gz</fileNamePattern> -->
		</rollingPolicy>
		<encoder class="com.zszq.app.log.FilterMessagePatternLayoutEncoder">
			<pattern>%d{yyyy-MM-ddHH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern>
		</encoder>
	</appender>

	<!-- 跟踪日志配置 -->
	<appender name="trace" class="com.zszq.app.log.TraceAppender">
		<encoding>UTF-8</encoding>
		<layout class="com.zszq.app.log.FilterMessagePatternLayout">
			<pattern>%d{yyyy-MM-ddHH:mm:ss.SSS} [%thread] %-5level %logger{36} -%msg%n</pattern>
			<charset>UTF-8</charset>
		</layout>
		<!-- 跟踪日志目录 -->
		<logFolder>/var/logs/tomcat/${app.name}</logFolder>
		<!-- <logFolder>d:/logs/tomcat/${app.name}</logFolder> -->
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="org.apache.http" level="INFO" />

	<!-- 日志级别没特殊情况都不需要调整，如果需要调整应用日志级别，请调整RollingFileAppender中的日志级别 -->
	<root level="debug">
		<appender-ref ref="info" />
		<appender-ref ref="trace" />
	</root>
</configuration>